/*  CSS admin  */
.ice_booking table.list {
    border-collapse: collapse;
    width: 100%;
}
.ice_booking table.list > tbody > tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #e3e3e3;
}
.ice_booking table.list td {
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: top;
}
.ice_booking table.list thead {
    font-weight: bold;
    text-align: center;
}
.ice_booking .add {
    background: none repeat scroll 0 0 #f5f572;
}
.ice_booking .addnew {
    display: inline-block;
    float: left;
    text-decoration: none;
}
.ice_booking .new_images {
    display: block;
    vertical-align: middle;
}
.ice_booking .block{
    display: block;
	margin-bottom:3px;
}
.ice_booking .block * {
    vertical-align:bottom;
}

.ice_booking tr.delete {
    display:none; 
}
.ice_booking .success, .ice_booking .success td {
    background: none repeat scroll 0 0 #8ffb8f;
    border: 1px solid #7ce87c !important;
}
.ice_booking span.success {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
}
.ice_booking .error {
    background: none repeat scroll 0 0 #ffb8b8;
    border: 1px solid #ff7373;
    display: block;
    margin: 2px 0;
    padding: 5px 10px;
}
.ice_booking span.message {
    display: inline-block;
    float: left;
    padding: 5px 10px;
    text-align: left;
    width: 145px;
}
.ice_booking .notify {
    color: #000;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.textfield {
    border: 1px solid #c8c8c8;
    display: inline-block;
    margin: 0 6px;
    max-width: 100%;
    padding: 10px;
    width: 250px;
}
.ice_booking .submit {
    background: none repeat scroll 0 0 #0074a2;
    border: 1px solid #0074a2;
    border-radius: 0;
    color: #fff;
    padding: 6px 15px;
    width: auto;
}
.ice_booking img.preview {
	vertical-align:middle;
	float:none;
}
.ice_booking td.booked {
    background: #52c6e4;
}

.ice_booking  .calendar td {
    height:75px;
}

.ice_booking .mini .calendar {
    float: left;
    max-width: 100%;
    width: 325px;
	margin-left:5px;
	margin-bottom:20px;
}

.ice_booking .mini .calendar td {
    width:45px;
    height:40px;
}
.ice_booking .booked img {
    display: block;
    margin: auto;
    width: 20px;
}
.ice_booking .booked img {
    display: block;
    margin: auto;
    width: 20px;
}

/*J MODAL*/
.j_modal {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #aeaeae;
    font-size: 12px;
    padding: 0;
    position: fixed;
    top: 100px;
    width: 300px;
    z-index: 99;
}

.j_modal .close {
    position: absolute;
    right: 15px;
    top: 5px;
}
.j_modal .title {
    background: none repeat scroll 0 0 #e2e2e2;
    border-bottom: 1px solid #d7d7d7;
    display: block;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
}
.j_modal > p {
    color: #000;
    margin: 0 auto;
    padding: 5px 10px;
}

.j_modal > p:nth-child(2n+2) {
    background: none repeat scroll 0 0 #f4f4f4;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

/*jQ dialog*/
.dialog-form fieldset  span.element {
    border-bottom: 1px solid #ccc;
    display: none;
    padding: 10px 0;
    width: 100%;
}
.dialog-form fieldset  span.element.blocked {
    display: block;
}
.dialog-form fieldset label {
    display: block;
    padding: 5px 0 10px 7px;
}
.dialog-form fieldset .textfield {
    height: auto;
    max-width: 100%;
    padding: 10px;
    width: 310px;
}
/*ADD ONS CALENDAR TABLE*/